<div class="d-flex" id="wrapper">

  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">&nbsp;Canary
    </div>

    <button type="button" class="btn btn-outline-warning" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="classrooms" style="width:100%">
      Classrooms
    </button>
    <div id="classrooms" [ngbCollapse]="isCollapsed">
      <div class="card" *ngFor="let each of AllClassesofUser">
        <div class="card-body">
          {{each.classroom_name}}
        </div>

      </div>
    </div>

    <button type="button" class="btn btn-outline-warning" (click)="is_Collapsed = !is_Collapsed"
      [attr.aria-expanded]="!is_Collapsed" aria-controls="students" style="width:100%">
      Students
    </button>
    <div id="students" [ngbCollapse]="is_Collapsed">
      <div class="card">
        <div class="card-body">
          <a href="#" style="text-decoration: none; color: black" data-toggle2="tooltip" data-placement="top"
            title="Quick View" data-toggle="modal" data-target="#chat">Chris</a>
        </div>
        <div class="card-body">
          Shaquille
        </div>
        <div class="card-body">
          Tom
        </div>
      </div>
    </div>

  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button id="menu-toggle" style="background: transparent; border: none"><img
          src="https://cdn0.iconfinder.com/data/icons/cartoon-birds/50/47-128.png" alt="canary toggle menu"
          id="canary"></button>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- NavBar Top -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/userDetail/' + user._id]">Welcome, {{ user.name }} <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My Account</a>
          </li>
          <li class="nav-item dropdown">
            <a id="myCourses" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              My Courses
            </a>
            <div id="courseOptions" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/classroom/1']">History</a>
              <a class="dropdown-item" href="#">English</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="onNewCourse(user._id)" *ngIf="Teacher">Add a New Class</a>
              <a class="dropdown-item" (click)="onNewCourse(user._id)" *ngIf="Student">Join a new class</a>
            </div>
          </li>
        </ul>
      </div>
      <!-- End NavBar Top -->

    </nav>


    <div class="container-fluid">
      <h1 class="mt-4" style="color: #FFC107">Welcome to Canary Learning Center</h1>
      <!-- Student Enter the Code to join Class -->
      <div *ngIf='Student'>
        <p> Please Enter the access code from your teacher to join class</p>
        <form (submit)="OnEnterClassroombyCode()">

          <label for="exampleInputName1" class="text-uppercase">Enter Code Here: &nbsp;</label>
          <input type="text" name="AClass.classroom_code" class="form-control" placeholder="ex: MwPIb"
            [(ngModel)]="AClass.classroom_code" />
            <span *ngIf="errorEnterCode" style="color: red">Please Enter the correct code</span><br>
            <span *ngIf="errorsameuser" style="color: red">You are already in class</span><br>
          <input type="submit" value="Submit" />
        </form>
      </div>
      <!-- Teacher get the code of the class for student  -->
      <div *ngIf='Teacher'>
        
          <p> Get the Code for the Class</p>
        <form (submit)="OnGetCode()">

          <label for="exampleInputName1" class="text-uppercase">Class's name: &nbsp;</label>
          <input type="text" name="currentClass.classroom_name" class="form-control" placeholder=""
            [(ngModel)]="currentClass.classroom_name" />
            <span *ngIf="errorClassname" style="color: red"> Sorry, Invalid Class's name. Please Enter your classname again or Go into your account for further information</span><br>
          <input type="submit" value="Submit" />
        </form>
        <div *ngIf='getcodedone'>
          <h3>{{ classname}} has code: <span style="color: red">{{classcode}}</span> </h3>
        </div>
      </div>

      <!-- New Course Form -->
      <div id="addCourseForm" class="form-group">
        <form *ngIf='showAddCourseForm' (submit)="onSumbitClassroom()">
          <h3>New Course</h3>
          <label for="exampleInputName1" class="text-uppercase">Name &nbsp;</label>
          <span *ngIf="errorClassroomName" style="color: red">Classroom Name already exists or empty</span>
          <input type="text" name="newClassroom.classroom_name" class="form-control" placeholder=""
            [(ngModel)]="newClassroom.classroom_name" required/>
          <input type="submit" value="Create" />
        </form>
      </div>
      <!-- End Of New Course Form -->

    </div>
  </div>
  <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Chat modal -->
<div class="modal fade" id="chat" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <div class="row">
          <!-- Modal view content -->
          <div class="col-md-12 col-sm-12 col-xs-24">
            <div class="mx-auto" style="max-height: 50%">
              <h5 style="text-align: center">Chat w/ Chris</h5>
              <div id="board">
                <div id="history"></div>
                <div id="msgBoard">
                  <div class="yourChatMsgs">
                    <p><span style="font-weight: bold">Jolie:</span> &nbsp; I am doing the
                      backend.</p>
                  </div>
                  <div class="theirChatMsgs">
                    <p><span style="font-weight: bold">Chris:</span> &nbsp; I am doing the login
                      and register.</p>
                  </div>
                  <div class="yourChatMsgs">
                    <p><span style="font-weight: bold">Jolie:</span> &nbsp; I am doing the
                      backend.</p>
                  </div>
                  <div class="theirChatMsgs">
                    <p><span style="font-weight: bold">Chris:</span> &nbsp; I am doing the login
                      and register.</p>
                  </div>
                  <div class="yourChatMsgs">
                    <p><span style="font-weight: bold">Jolie:</span> &nbsp; I am doing the
                      backend.</p>
                  </div>
                  <div class="theirChatMsgs">
                    <p><span style="font-weight: bold">Chris:</span> &nbsp; I am doing the login
                      and register.</p>
                  </div>
                  <div class="yourChatMsgs">
                    <p><span style="font-weight: bold">Jolie:</span> &nbsp; I am doing the
                      backend.</p>
                  </div>
                  <div class="theirChatMsgs">
                    <p><span style="font-weight: bold">Chris:</span> &nbsp; I am doing the login
                      and register.</p>
                  </div>
                </div>
              </div>
              <br>
              <form id="send">
                <span id="textBox">
                  <textarea class="form-control" type="text" rows="3"
                    placeholder="Type your message here..."></textarea>
                </span>
                <br>
                <div>
                  <button id="buttonBox" for="send" type="submit">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>