<div id="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <button id="menu-toggle" style="background: transparent; border: none" [routerLink]="['/home/' + user._id]"><img
        src="https://cdn0.iconfinder.com/data/icons/cartoon-birds/50/47-128.png" alt="canary toggle menu"
        id="canary"></button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- NavBar Top -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/userDetail/' + user._id]"><img src={{user.image}}
              style="width: 40px; height: 40px; border-radius: 20px"> &nbsp; {{ user.name }} <span
              class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
    <!-- End NavBar Top -->
  </nav>
  <img *ngIf='!Teacher' id="iconPencil" src="https://img.icons8.com/cotton/2x/edit--v2.png">
  <img *ngIf='Teacher' id="iconApple"
    src="https://t3.ftcdn.net/jpg/01/18/40/82/240_F_118408265_dGltpsxRe7WKYOCTimCB34brbtF6CfGg.jpg">
  <div style="text-align: center">
    <h2>{{ user.name }}'s Account Page</h2>
  </div>
  <!-- NAME AND EMAIL FORM -->
  <div *ngIf='!showPersonalEditForm' id="editForm">
    <h5>Name: {{ user.name }}</h5>
    <h5>Email: {{ user.email }}</h5>
    <button type="button" class="btn btn-warning" (click)="onEditButtonForPersonalForm()">Edit</button>
  </div>
  <div *ngIf='showPersonalEditForm' id="editForm">
    <form class="edit-form" (submit)="OnEditUser()">
      <div class="form-group">
        <label for="exampleInputEmail1" class="text-uppercase">Name &nbsp;</label>
        <span class="input-group-addon"> <i class="fa fa-user-circle-o"></i></span>
        <input type="text" name="editUser.name" [(ngModel)]="editUser.name" class="form-control"
          placeholder="{{ user.name }}">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1" class="text-uppercase">Email &nbsp;</label>
        <span class="input-group-addon"> <i class="fa fa-envelope"></i></span>
        <input type="text" name="editUser.email" [(ngModel)]="editUser.email" class="form-control"
          placeholder=" {{ user.email }}">
      </div>
      <input class="btn btn-warning" type="submit" value="save" />
    </form>
  </div>
  <!-- END OF EDIT FORM -->
  <!-- LIST OF CLASSROOMS -->
  <h4 style="text-align: center">{{ user.name }}'s Classrooms</h4>
  <div id="teacherList" *ngIf='Teacher'>
    <table id="listTable" class="table" style="width:50%">
      <tr>
        <th scope="col">Classrooms</th>
        <th scope="col">Action</th>
      </tr>
      <tr *ngFor="let each of AllClassesofUser">
        <td>{{each.classroom_name}}</td>
        <td>
          <button *ngIf='Teacher' type="button" class="btn btn-warning"
            (click)="onEditButton(each._id)">edit</button>&nbsp;&nbsp;&nbsp;
          <button *ngIf='Teacher' type="button" class="btn btn-warning" (click)="deleteClass(each)">delete</button>
        </td>
      </tr>
    </table>
  </div>
  <div id="teacherList" *ngIf='!Teacher'>
    <table id="listTable" class="table" style="width:50%">
      <tr>
        <th scope="col">Classrooms</th>
        <th scope="col" *ngIf='Teacher'>Action</th>
      </tr>
      <tr *ngFor="let each of AllClassesofUser">
        <td>{{each.classroom_name}}</td>
        <td>
          <button *ngIf='Teacher' type="button" class="btn btn-warning"
            (click)="onEditButton(each._id)">edit</button>&nbsp;&nbsp;&nbsp;
          <button *ngIf='Teacher' type="button" class="btn btn-warning" (click)="deleteClass(each)">delete</button>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf='showEditForm'>
    <form (submit)="onEditClass()">
      <div class="form-group">
        <label for="exampleInputEmail1" class="text-uppercase">Name &nbsp;</label>
        <span class="input-group-addon"> <i class="fa fa-user-circle-o"></i></span>
        <input type="text" name="updateClassroom.classroom_name" [(ngModel)]="updateClassroom.classroom_name"
          class="form-control" placeholder="{{ OneSingleClassroom[0].classroom_name }}">
        <input type="button" class="btn btn-warning" type="submit" value="save" />
      </div>
    </form>
  </div>
</div>