#content{
    padding: 15px;
    width: 100%;
}

#chalkboard{
    width: 72%;
    height: 350px;
    border: 12px solid burlywood;
    background: darkslategray;
    color: white;
    font-weight: bold;
    padding: 15px;    
    overflow-y: auto
}

#enterAnswer{
    background: #ffc107;
    color: black;
}

.chalk{
    border: none;
    background: transparent;
    color: white;
    font-weight: bold;
}

#studentDetails{
    background: palegoldenrod;
    border: 1px solid black;
    width: 90%;
    padding: 2%;
}

.paper{
    height: 2%;
    border-bottom: 1px solid blue;
    padding: 1%;
}