<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Welcome, {{theUser.name}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Account</a>
      </li>
      <li class="nav-item dropdown">
        <a id="myCourses" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Courses
        </a>
        <div id="courseOptions" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/classroom/1']">Course 1</a>
          <a class="dropdown-item" href="#">Course 2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Add a New Course</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div>
  <div id="content" style="text-align: center">
    <div style="text-align: right">
      <button class="btn btn-sm btn-outline-warning" (click)="open(content)">See all Students</button>
    </div>
    <button type="button" class="btn btn-outline-secondary"
      ngbPopover="Instructor: {{theClass.users[0].name}} | Class code: {{theClass.classroom_code}}"
      triggers="mouseenter:mouseleave" popoverTitle="Class details"
      style="border: none; color: black; font-size: 1.75em; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
      Welcome to {{theClass.classroom_name}} Class
    </button>
  </div>

  <div style="display: flex; justify-content: center">
    <div id="chalkboard">
      <div *ngFor="let ex of allExercises">
        <button class="chalk" (click)="selectExercise(ex)" >{{ ex.content }}</button>
      </div>
      <div *ngFor="let item of messageArray">
        <button class="chalk" (click)="selectExercise(item)" >{{ item.message }}</button>
      </div>
    </div>
  </div>

  <hr>

  <!-- Student form -->
  <div class="container-fluid" *ngIf="studentMode">
    <form (submit)="writeAnswer()" *ngIf="answerform">
      <br>
      <input type="text" class="form-control" name="theAnswer.content" [(ngModel)]="theAnswer.content"
        placeholder=" Type your answer here">
      <br>
      <div style="text-align: right">
        <input id="enterAnswer" type="submit" value="Post">
      </div>
    </form>
  </div>

  <!-- Teacher form -->
  <div class="container-fluid" *ngIf="teacherMode">
    <form (submit)="writeExercise()">
      <br>
      <input type="text" class="form-control" name="exercise.content" [(ngModel)]="exercise.content"
        placeholder=" Type class exercise here">
      <br>
      <div style="text-align: right">
        <input id="enterAnswer" type="submit" value="Post">
      </div>
    </form>
  </div>

  <!-- Modal -->
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{theClass.classroom_name}} students:</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body" *ngFor="let student of theStudents">
      <p>{{student.name}}</p>
    </div>
  </ng-template>

  <!-- Student answer for loop -->
  <div class="mx-auto" *ngFor="let answer of allAnswers" style="width: 90%">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title="{{answer.student_name}}'s Answer">
        <ng-template ngbPanelContent>
          {{answer.exercise_content}}
          {{ answer.content }}
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>

  <div class="mx-auto" *ngFor="let item of answerArray" style="width: 90%">
    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
      <ngb-panel title="{{item.student.name}}'s Answer">
        <ng-template ngbPanelContent>
          <span style="font-weight: bold">{{ item.ques }}: </span>
          {{ item.ans }}
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </div>

</div>