<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Welcome, {{theUser.name}} <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home/' + theUser._id]">Home</a>
      </li>
      <li class="nav-item dropdown">
        <a id="myCourses" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Courses
        </a>
        <div id="courseOptions" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/classroom/1']">Python</a>
          <a class="dropdown-item" href="#">Angular</a>
          <div class="dropdown-divider"></div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div>
  <div id="content" style="text-align: center">
    <div style="text-align: right">
      <button class="btn btn-sm btn-outline-warning" (click)="open(content)">See all Students</button>
    </div>
    <button type="button" class="btn btn-outline-secondary"
      ngbPopover="Instructor: {{theClass.users[0].name}} | Class code: {{theClass.classroom_code}}"
      triggers="mouseenter:mouseleave" popoverTitle="Class details"
      style="border: none; color: black; font-size: 1.75em; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
      Welcome to {{theClass.classroom_name}} Class
    </button>
  </div>

  <!-- Chalkboard -->
  <div style="display: flex; justify-content: center">
    <div id="chalkboard">
      <div *ngFor="let ex of allExercises">
        <button class="chalk" (click)="openAnswer(answerForm, ex)">{{ ex.content }}</button>
      </div>
      <div *ngFor="let item of messageArray">
        <button class="chalk" (click)="openAnswer(answerForm, item.message)">{{ item.message.content }}</button>
      </div>
    </div>
  </div>

  <hr>

  <!-- *** Class mode *** -->
  <div *ngIf="classMode">

  <!-- Teacher form -->
  <div class="container-fluid" *ngIf="teacherMode">
    <form (submit)="writeExercise()">
      <br>
      <input type="text" class="form-control" name="exercise.content" [(ngModel)]="exercise.content"
        placeholder=" Type class exercise here">
      <br>
      <div style="text-align: right">
        <input id="enterAnswer" type="submit" value="Post">
      </div>
    </form>
  </div>

  <!-- STUDENT ANSWERS FOR LOOP -->

  <!-- Socket  -->
  <div *ngIf="banana">
    <div class="mx-auto" *ngFor="let thing of messageArray" style="width: 90%">
      <h5>{{ thing.message.content }}</h5>
      <div *ngFor="let each of answerArray">
        <p *ngIf="thing.message._id == each.exID"><span
            style="font-weight: bold">{{each.answerObject.student_name}}:</span>
          {{ each.answerObject.content }}</p>
      </div>
    </div>
  </div>

  <!-- Database -->

  <div class="mx-auto" *ngFor="let each of listOfExercisesWithAnswersForThisCurrentClassThatTheUserIsInRightNow"
    style="width: 90%">
    <!-- Exercises -->
    <h5>{{each.content}}</h5>
    <div *ngFor="let item of each.answers">
      <!-- Answers -->
      <p><span style="font-weight: bold">{{item.student_name}}:</span> {{ item.content }}</p>
    </div>
    <!-- // Socket of answers -->
    <div *ngFor="let answer of answerArray">
      <p *ngIf="each._id == answer.exID "><span style="font-weight: bold">{{answer.answerObject.student_name}}:</span>
        {{ answer.answerObject.content }}</p>
    </div>
  </div>
</div>

</div>
<!-- *** End Class Mode *** -->

<!-- Student Details Mode -->
<div *ngIf="studentDetailMode">
  <h1>{{oneStudent.name}}</h1>
  <div *ngFor="let x of oneStudentExercises">
    <h5>{{x.content}}</h5>
      <div *ngFor="let y of x.answers">
        <p *ngIf="oneStudent._id == y.student_id">{{y.content}}</p>
      </div>
  </div>
</div>
<!-- Student Details Mode -->

<!-- MODALS -->

<!-- Student List -->
<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{theClass.classroom_name}} students:</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngFor="let student of theStudents">
    <button (click)="studentDetail(student._id)" (click)="d('Cross click')">{{student.name}}</button>
  </div>
</ng-template>

<!-- Answer form -->
<ng-template #answerForm let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Question: {{answering.content}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" *ngIf="studentMode">
    <h5 *ngIf="success" style="color: green">Good job! Answer posted!</h5>
    <form (submit)="writeAnswer()" *ngIf="answerform">
      <br>
      <input type="text" class="form-control" name="theAnswer.content" [(ngModel)]="theAnswer.content"
        placeholder=" Type your answer here">
      <br>
      <div style="text-align: right">
        <input id="enterAnswer" type="submit" value="Post">
      </div>
    </form>
  </div>
  <div class="modal-body" *ngIf="teacherMode">
    <h5>You're the teacher, silly!</h5>
  </div>
</ng-template>