<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/home">Welcome, Jolie <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">My Account</a>
      </li>
      <li class="nav-item dropdown">
        <a id="myCourses" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Courses
        </a>
        <div id="courseOptions" class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/classroom/1']">Course 1</a>
          <a class="dropdown-item" href="#">Course 2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Add a New Course</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div>
  <div id="content">
    <h1>Welcome to History Class</h1>
  </div>

  <div class="container-fluid">
    <h1 class="mt-4" style="color: #FFC107">Canary Learning Center</h1>
      <form (submit)="sendMessage()">
          <input type="text" name="clientMessage.name" [(ngModel)]="clientMessage.name" placeholder=" Type name">
          <br>
          <input type="text" name="clientMessage.message" [(ngModel)]="clientMessage.message" placeholder=" Type message">
          <input type="submit">
      </form>
      <div *ngFor="let item of messageArray">
        <p>{{ item.message }}</p>                
    </div>
  </div>

</div>